h1 {
    text-align: center;
}

body {
    overflow: auto;
}

.block_line {
	border: 1px solid black;
	margin-bottom: 10px;
	width: 1200px;
	height: 100px;
	position: relative;


}

p {
    position: absolute;
}

.input_name {
	top: 0;
	left: 0;
}

.input_message {
	top: 30px;
	left: 20px
}

.input_dt {
	bottom: 0;
	right: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.name {
    position: fixed;
    bottom: 185px;
    left: 40px;
}

input {
    position: fixed;
    bottom: 180px;
    left: 100px;
    width: 200px;
    height: 30px;
    border: 2px solid black;
}

.message {
    position: fixed;
    bottom: 160px;
}

textarea {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    height: 100px;
    border: 2px solid black;
}

button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 25px;
}
