<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespaceには対応するMapperインターフェースの完全修飾クラス名を指定 -->
<mapper namespace="bulletinBoard.repository.TopicMapper">

    <!--topicテーブル-->
    <select id="findAll" resultType="bulletinBoard.domain.Topic">
        select
        topic.id,
        title,
        contents,
        post_num,
        category_name
        from topic
        INNER JOIN category
        ON topic.category_id = category.id
    </select>
    <!-- MapperインターフェースのfindByEmail関数実行時のSQL
    parameterTypeには関数の引数の型を指定 -->
    <select id="findById" resultType="bulletinBoard.domain.Topic">
        select
        topic.id,
        title,
        contents,
        post_num,
        category_name
        from topic
        INNER JOIN category
        ON topic.category_id = category.id
        where id = #{id}
    </select>

    <update id="update" parameterType="bulletinBoard.domain.Topic">
        UPDATE topic SET post_num = (SELECT COUNT(*) FROM posts WHERE topic_id = 1)
        WHERE id = 1
    </update>
</mapper>
