<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>ログインフォーム</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
</head>
<body>
    <div class="container">
        <h1>掲示板サイト</h1>
        <form class="form-signin" method="post" th:action="@{/loginForm}">
            <h2 class="form-signin-heading">ログインフォーム</h2>

            <div th:if="${param.error}" class="alert alert-danger">
                ユーザ名またはパスワードが正しくありません。
            </div>
            <input type="text" class="form-control" name="username" placeholder="username" required="required" autofocus="autofocus" />
            <input type="password" class="form-control" name="password" placeholder="Password" required="required" autofocus="autofocus" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">sign in</button>
        </form>
        <div>
            <a href="/newUser">新規登録はこちら</a>
            <a href="/">戻る</a>
        </div>
    </div>
</body>
</html>
